<div>Connection from:
  <select [(ngModel)]="connectionFor" (change)="selectUser($event)">
    <option *ngFor="let user of userList" [ngValue]="user"> 
      {{user.name}}
    </option>
  </select>
  <button (click)="connect()">Conn</button>
</div>


<div>Send to:
  <select [(ngModel)]="sendFor" (change)="sendto($event)">
    <option *ngFor="let user of userList" [ngValue]="user"> 
      {{user.name}}
    </option>
  </select> 
</div>

<div>
  <input type="text" [(ngModel)]="sendMsg">
</div>
<button (click)="send()">Send</button>

<div *ngFor="let msg of messages">
<div>
  <b>Message : {{msg.msgContent}}</b>
  <small>From : {{msg.fromUserName}}</small>
  <small>Date : {{msg.dateofsended}}</small>
</div>
</div>

<router-outlet></router-outlet>